body {
    background: #282828;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

img {
    width: calc(100vw - 40px);
    height: auto;
    max-width: 800px;
}

.slider {
    max-width: 100%;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-areas: "slide slide" "text nav";
    grid-gap: 15px;
}

.slides {
    max-width: 100%;
    width: 800px;
    height: 450px;
    overflow: hidden;
}

input {
    display: none;
}

.slide {
    grid-area: slide;
    margin-left: 100%;
    transition: z-index 0s 0s, margin-left 0s 3s;
    z-index: 1;
}

input:checked + .slide {
    animation: 0.5s linear slide;
    margin-left: 0%;
    z-index: 10;
}

@keyframes slide { 
    from {
        margin-left: 100%;
    } to {
         margin-left: 0%;
    }
}

.text {
    grid-area: text;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    transition: 0.5s;
    position: relative;
    transform: translate(0px, 15px);
    display: flex;
    align-items: center;
}

input:checked + .slide + .text {
    opacity: 1;
    transform: translate(0px, 0);
}

ul.slider-control {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px 0;
    padding: 0;
    list-style: none;
    z-index: 100;
    grid-area: nav;
}

label {
    width: 26px;
    height: 26px;
    display: block;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

label::before {
    content: '';
    display: block;
    width: 13px;
    height: 13px;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
}

label:hover::before {
    background: rgba(255, 255, 255, 0.6);
}

label:active::before {
    background: #fff;
    width: 16px;
    height: 16px;
    top: 3px;
    left: 3px;
}

input#img-1:checked ~ ul.slider-control label#dot-1::before,
input#img-2:checked ~ ul.slider-control label#dot-2::before,
input#img-3:checked ~ ul.slider-control label#dot-3::before,
input#img-4:checked ~ ul.slider-control label#dot-4::before,
input#img-5:checked ~ ul.slider-control label#dot-5::before,
input#img-6:checked ~ ul.slider-control label#dot-6::before {
    background: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 500px) {
    .slider {
        grid-template-areas:
            "slide" "nav" "text";
        text-align: center;
    }

    ul.slider-control {
        justify-content: center;
    }
}