body {
    background: #282828;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.slider {
    max-width: 100%;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-areas: "slide slide" "text nav";
}

.slides {
    max-width: 100%;
    width: 800px;
    height: 450px;
    overflow: hidden;
}

.slider img {
    width: 100%;
}

input {
    display: none;
}

.slide {
    display: none;
    grid-area: slide;
}

input:checked + .slide {
    display: block;
}

.text {
    grid-area: text;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    display: none;
    margin: 20px 0;
}

input:checked + .slide + .text {
    display: block;
}

ul.slider-control {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px 0;
    padding: 0;
    list-style: none;
    z-index: 100;
    grid-area: nav;
}

label {
    width: 26px;
    height: 26px;
    display: block;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

label::before {
    content: '';
    display: block;
    width: 13px;
    height: 13px;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
}

label:hover::before {
    background: rgba(255, 255, 255, 0.6);
}

input#img-1:checked ~ ul.slider-control label#dot-1::before,
input#img-2:checked ~ ul.slider-control label#dot-2::before,
input#img-3:checked ~ ul.slider-control label#dot-3::before,
input#img-4:checked ~ ul.slider-control label#dot-4::before,
input#img-5:checked ~ ul.slider-control label#dot-5::before,
input#img-6:checked ~ ul.slider-control label#dot-6::before {
    background: rgba(255, 255, 255, 0.8);
}