body {
    background: #282828;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.slider {
    max-width: 100%;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-areas: "slide slide" "text nav";
}

.slides {
    max-width: 100%;
    width: 800px;
    height: 450px;
    overflow: hidden;
}

.slider img {
    width: 100%;
}

input {
    display: none;
}

.slide {
    display: none;
    grid-area: slide;
}

input:checked + .slide {
    display: block;
}

.text {
    grid-area: text;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    display: none;
    margin: 20px 0;
}

input:checked + .slide + .text {
    display: block;
}

ul.slider-control {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 20px 0;
    padding: 0;
    list-style: none;
    z-index: 100;
    grid-area: nav;
}

label {
    background: #fff;
    width: 20px;
    height: 20px;
    display: block;
    margin: 0 10px;
    border-radius: 50%;
}